# MariaDB
MYSQL_DATABASE=InceptionDB
MYSQL_USER=user
MYSQL_HOST=mariadb

# WordPress
DOMAIN_NAME=[login.42.fr]
WP_TITLE=Inception
WP_ADMIN_USER=manager
WP_ADMIN_EMAIL=[Admin's Email Address]
WP_USER=user
WP_USER_EMAIL=[User's Email Address]
