[mysqld]

# Listen on all network interfaces that reach the container, including Docker's internal network.
# By default it only listens on localhost which means only programs inside the same container can
# connect. For cross-container connection, docker compose creates a private network and MariaDB
# should listen on it to connect to WordPress
bind-address = 0.0.0.0

# Default MariaDB port
port = 3306

# Database files mounted here
datadir = /var/lib/mysql

# `utf8mb4`: UTF-8 Unicode 4-bytes maximum that supports all Unicode characters. `ci`: case-insensitive
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Avoid unnecessary reverse DNS lookups when clients connect. This can slightly reduce connection overhead
skip-name-resolve
